{% extends 'layout.html' %}
{% load crispy_forms_tags %}
{% block content %}

<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <button class="btn btn-default" type="submit">
                    {% if actualizar%} Actualizar {% else %} Crear {% endif%} cuadro
                </button>
            </div>
            <div class="col text-center">
                <button onclick="window.location.href='/'; return false" class="btn btn-default">Ver
                    galerias</button>
            </div>
            <div class="col text-center">
                <button onclick="window.location.href='/cuadros/{{galeria.id}}'; return false"
                    class="btn btn-default">Ver cuadros</button>
            </div>
        </div>
    </div>
</form>

{% endblock %}