<!doctype html>
<html lang="es">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Plantas Elena</title>
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <nav class="navbar navbar-light bg-light p-3">
        <a class="navbar-brand" href="/">Plantas Elena</a>
        <div class="d-flex flex-row">
            {% if usuario_esta_logeado %}
            <a class="nav-item nav-link" href="/terminarsesion">Terminar sesión</a>
            {% else %}
            <a class="nav-item nav-link" href="/iniciarsesion">Iniciar sesión</a>
            {% endif %}
            <a class="nav-item nav-link" href="/registrarse">Registrarse</a>
        </div>
    </nav>

    <div class="container p-2">
        <div class="row">
            <div class="col-2">
                <ul class="list-group">
                    <li class="list-group-item"><a href="/ordenar/5,4,3,2,1">Ejercicio 2</a></li>
                    <li class="list-group-item"><a href="/primos/13">Ejercicio 3</a></li>
                    <li class="list-group-item"><a href="/secuencia_fibonacci/4">Ejercicio 4</a></li>
                    <li class="list-group-item"><a href="/validar_corchetes/[][[]]">Ejercicio 5</a></li>
                    <li class="list-group-item"><a href="/identificar/antoniogamiz10@gmail.com">Ejercicio 6</a></li>
                </ul>
            </div>
            <div class="col-10">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul class=flashes>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
                <main>
                    {% block body %}{% endblock %}
                </main>
            </div>
        </div>
    </div>

    <footer class="footer mt-auto bg-light">
        <div class="container p-4 justify-content-center text-center">
            Plantas Elena Merelo Molina
        </div>
    </footer>
</body>

</html>